<div class="row">
  <aside class="span12 _box">
    <div class="_box-inner">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </div>
  </aside>
</div>
<div class="row">
  <div class="span12">
    <hr class="_hr">
    <h3><%= t('w.microposts') %></h3>
    <%= render 'shared/feed' %>
  </div>
</div>
