<div class="center hero-unit">
  <h1><%= t('.welcome_msg') %></h1>

  <h2>
    <%= t('.about_this_page') %>
    <%= link_to t('app.project_name'), t('app.www_url') %>
  </h2>

  <%= link_to t('w.signup'), signup_path, class: "btn btn-large btn-primary" %>
</div>

