@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box_radius {
  -webkit-border-radius:10px 10px 10px 10px;
  -moz-border-radius:10px 10px 10px 10px;
  border-radius:10px 10px 10px 10px;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  // background: #f7f3e8;
  background: #f5ead0 image-url("bg.png") repeat;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* meshiya */

._box {
  background: #f9f9f9;
  // width: 90%;
  // padding: 10px;
  // margin: 0 auto;
  border: 1px outset #ffffff;
  box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.3);
  // @include box_radius
  @include border-radius(10px);
}

._box-inner {
  padding: 10px;
}

._hr {
  border: 2px solid #666666;
  // width: 100%;
  @include border-radius(2px);
}

/* header */

/* extend bootstrap */
// .navbar-bg {
//   // @extend .navbar-inverse !optional;
//   background-color: #c30d20;
//   // background-image: -webkit-linear-gradient( top, red, blue );
//   background-image: -webkit-linear-gradient( top, #c30d20, #c30d20 );
// }

// ._nav-text {
//   color: #00ff00;
//   font-size: 1.7em;
//   text-shadow: 2px 2px 3px #ff00ff;
//   // border-left: 1px solid rgba(255, 255, 255, .75);
//   // border-right: 1px solid rgba(0, 0, 0, .1);
// }

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  color: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 2px solid #eeeeee;
  }
  .image {
    padding: 10px;
  }
  .content {
    display: block;
    white-space: pre;
  }
}

.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

