<footer class="footer">
  <small>
    <a href="">めしや</a>
    by akiya
  </small>
  <nav>
    <ul>
      <li><%#= link_to t('w.about'), about_path %></li>
      <li><%#= link_to t('w.contact'), contact_path %></li>
      <li><%= t('app.copyright') %></li>
    </ul>
  </nav>
</footer>
